*.a
*.bin
*.bz2
*.elf
*.gcno
*.gz
*.i
*.ko
*.la
*.lo
*.lst
*.lzma
*.lzo
*.mod.c
*.o
*.o
*.o.*
*.order
*.orig
*.orig
*.patch
*.pb.h
*.s
*.so
*.so.dbg
*.symtypes
*.xz
*pb.cc
*~
*~
*~
.DS_Store
.deps/
.libs/
GPATH
GRTAGS
GSYMS
GTAGS
Makefile
Makefile.in
\#*#
\#*#
autom4te.cache/
config.h
config.log
config.status
cscope.*
libtool
modules.builtin
ncscope.*
stamp-h
stamp-h1
src/server/server
src/server/test
*.pyc
*.pyo
/src/test/test
